<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
   <title>{{title}} | Sadibis</title>
   {{else}}
     <title>Sadibis</title>
   {{/if}}

   {{#if description}}
   <meta name="description" content="{{description}}" />
   {{else}}
     <meta name=”description” content="Todos los articulos sobre cannabis están en un solo lugar: Sadibis!"/>
   {{/if}}
{{#if article}}
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://satipluss.herokuapp.com/articles/{{article.id}}">
<meta property="og:title" content="{{article.title}}">
<meta property="og:description" content="{{article.description}}">
<meta property="og:image" content="{{article.photo}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://satipluss.herokuapp.com/articles/{{article.id}}">
<meta property="twitter:title" content="{{article.title}}">
<meta property="twitter:description" content="{{article.description}}">
<meta property="twitter:image" content="{{article.photo}}">
{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/images/sati+.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
   <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
   <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5d4723023387b20012d76714&product=inline-share-buttons"></script>
  </head>
  <body>

    {{>navbar}}

    {{{body}}}

    {{>footer}}

  </body>
</html>
